:root {
  --ion-color-primary: rgba(0,170,162);
  --ion-color-secondary: rgba(71,94,108,0.5);
  --ion-color-primary-rgb: 37,99,235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1e4fd8;
  --ion-color-primary-tint: #3b82f6;
}

.card-icon {
  color: var(--ion-color-secondary);
}

